<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.mapper.ItemMapper">
	
	<!--根据修改时间降序排列 
		注意事项:sql中注意表名/字段大小写问题
		mysql:默认表与字段统统小写.
		oracle:表与字段都是大写的.
	 -->
	<select id="findItemListByPage" resultType="Item">
		select * from tb_item order by updated desc limit #{start},#{rows}
	</select>
	
</mapper>